@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {
    --header-height: 80;
    --footer-height: 28px;
    --gantt-data-height: 30px;
    --day-size-pixel: 0;                /* /!\ set value on config.json file => 'style.day_size' var */
    --blur-effect: blur(3px);
    --bg-gantt-color-primary: #3498db;
    --bg-gantt-color-secondary: #2980b9;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #ecf0f1;
        --text: #2c3e50;
        --input-text: #ecf0f1;
        --text-hover: hsl(210, 29%, 40%);
        --shadow: #bdc3c7;
        --gantt-weend: hsl(192, 15%, 90%);
        --gantt-day-border: #bdc3c72c;

        --bg-warning: #e67e22;
        --bg-error: #ee5253;

        --bg-link-hover: rgba(0, 0, 0, 0.2);
        --bg-transparent: rgba(0, 0, 0, 0.1);
    
        --scrollbar-color: #d6dee1;
        --scrollbar-color-hover: #a8bbbf;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #172531;
        --text: #f0f4f8;
        --input-text: #f7f6f5;
        --text-hover: hsl(210, 36%, 90%);
        --shadow: #203344;
        --gantt-weend: #1b2c3a;
        --gantt-day-border: #2e4a6234;

        --bg-warning: #d35400;
        --bg-error: #c23616;

        --bg-link-hover: #456e9333;
        --bg-transparent: rgba(40, 70, 96, 0.2);
    
        --scrollbar-color: #253a4e;
        --scrollbar-color-hover: #294257;
    }
}

html, 
body 
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
    cursor: default;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}
body,
.tooltip div,
.modal-content, 
.popover,
.popover div, 
.popover h3, 
.context-menu-list
{
    background: var(--bg);
    color: var(--text);
}

footer {
    padding: 5px 10px;
    font-size: 12px;
    min-height: var(--footer-height);
    background: var(--bg);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

input::placeholder {
    color: var(--shadow) !important;
    font-style: italic !important;
}

a, 
button,
.for-pointer, 
.form-select, 
button, 
input[type="submit"]
{
    cursor: pointer;
}

footer a {
    color: var(--bg-gantt-color-primary);
    text-decoration: none;
}
footer a:hover, 
footer a:focus
{
    color: hsl(204, 70%, 60%);
}

.form-control, 
.form-select,
button, 
input[type="submit"],
.input-group-text
{
    color: var(--input-text) !important;
    border: 0 !important;
    padding: 10px 15px !important;
}
.form-control, 
.form-select
{
    background: var(--bg-gantt-color-primary) !important;
}
input[type="submit"], 
.input-group-text,
button
{
    background: var(--bg-gantt-color-secondary) !important;
}

nav.navbar {
    background: var(--bg);
    width: 100%;
    height: 60px;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}
nav.navbar img {
    margin: 7px 5px;
}
nav.navbar img, 
.loading-page img, 
section.diagramm-graph .diagramm-loading img
{
    filter: drop-shadow(0 0 5px var(--shadow));
}
nav.main-nav form {
    margin-right: 5px;
}
nav.main-nav form input {
    margin-left: 5px;
}
nav.navbar a, 
aside > section > article > div i:hover, 
.modal-content .btn-close, 
.context-menu-list .context-menu-item i
{
    color: var(--text);
}
nav.navbar a:hover, 
nav.navbar a:focus
{
    color: var(--text-hover);
}
nav.navbar .dropdown-menu {
    background: var(--bg);
    display: none;
}
nav.navbar .nav-item:hover .dropdown-menu {
    display: block;
}
nav.navbar .dropdown-menu a:hover, 
nav.navbar .dropdown-menu a:focus, 
.context-menu-list .context-menu-item:hover
{
    background: var(--bg-link-hover) !important;
}
nav.navbar .nav-link {
    margin: 5px;
    white-space: nowrap;
    padding: 10px 15px !important;
}

.container-fluid {
    padding: 0px !important;
}

main {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: var(--footer-height);
}
aside {
    background: var(--bg);
    position: fixed;
    left: 0;
    top: 60px;    
    bottom: var(--footer-height);
    z-index: 50;
}
aside > section {
    height: 100%;
}
aside > section > header {
    padding: 5px 10px;

    position: sticky;
    top: 0;
    z-index: 1;

    background: repeating-linear-gradient(
        45deg,
        var(--gantt-weend),
        var(--gantt-weend) 10px,
        var(--bg) 10px,
        var(--bg) 20px
    );
}
aside > section > article {
    padding: 5px;
    margin-bottom: 6px;
    overflow: auto;
    position: absolute;
    top: calc(var(--header-height) * 1px);
    left: 0;
    right: 0;
    bottom: 0;
}
aside > section > article > div {
    margin-bottom: 5px;
    height: var(--gantt-data-height);
    /*line-height: 1.6;*/
    position: relative;
    padding: 0 5px;
    color: var(--text);
}
aside > section > article * {
    vertical-align: text-top;
}
aside > section > article > div:hover
{
    background: var(--bg-gantt-color-primary);
}
aside > section > article > div:hover i, 
aside > section > article > div:hover
{
    color: var(--bg);
    cursor: pointer;
    font-weight: bold;
}
aside > section > article > div:hover,  
.progress:hover, 
button:hover, 
textarea:hover, 
.form-control:hover, 
.form-select:hover, 
select:hover,
input[type="submit"]:hover,
.card .card-header:hover,
.for-pointer:hover
{
    box-shadow: 0 0 5px var(--bg-gantt-color-secondary);
}
.form-range:hover,
.progress.pbar-ticket-background:hover
{
    filter: drop-shadow(0 0 3px var(--bg-gantt-color-secondary));
}
aside > section > article img {
    filter: drop-shadow(0 0 5px var(--shadow));
    vertical-align: text-top;
    height: 25px;
    margin-right: 5px;
    user-select: none;
}
aside > section > article > div .right {
    float: right;
}
aside > section > article > div .left {
    float: left;
}
aside > section > article .user-btn {
    display: none;
    padding: 10px;
    margin: 5px;
}
aside > section > article > div i {
    line-height: 0 !important;
    color: transparent;
}
aside > section > article > div .right {
    line-height: 27px;
}

section.diagramm-graph .diagramm-calendar > article, 
aside > section > header
{
    height: calc(var(--header-height) * 1px);
    display: flex;
}
aside > section > article > div, 
aside > section > article > div i, 
input, 
button,
.card .card-header,
.collapse,
.for-pointer,
.form-control,
.form-select,
.form-range
.progress, 
textarea, 
select
{
    transition: all .2s ease-out;
}
section.diagramm-graph .diagramm-calendar > article > div > span > span, 
.progress .progress-bar.pbar-complete, 
.progress.pbar-task-background, 
aside > section > article > div, 
aside > section > article > div img, 
nav.navbar .nav-link, 
input, 
button
{
    border-radius: 3px;
}
section.diagramm-graph .diagramm-background > article > div.weend, 
aside > section > article > div, 
nav.navbar .nav-link
{
    background: var(--gantt-weend);
}

textarea {
    height: 150px;
}

section.diagramm-graph .diagramm-calendar > article > div > span.now > span {
    background: var(--bg-gantt-color-primary);
    color: #ecf0f1;
}
section.diagramm-graph .diagramm-background > article > div.now {
    background: var(--bg);
}
section.diagramm-graph .diagramm-background > article > div.now:not(.weend) {
    background: linear-gradient(90deg, 
        var(--bg) 45%, 
        var(--bg-gantt-color-primary) 45%, 
        var(--bg-gantt-color-secondary) 45%, 
        var(--bg-gantt-color-primary) 48%, 
        var(--bg-gantt-color-primary) 52%, 
        var(--bg-gantt-color-secondary) 55%, 
        var(--bg-gantt-color-primary) 55%, 
        var(--bg) 55%
    );
}
section.diagramm-graph .diagramm-background > article > div.now.weend {
    background: linear-gradient(90deg, 
        var(--gantt-weend) 45%, 
        var(--bg-gantt-color-primary) 45%, 
        var(--bg-gantt-color-secondary) 45%, 
        var(--bg-gantt-color-primary) 48%, 
        var(--bg-gantt-color-primary) 52%, 
        var(--bg-gantt-color-secondary) 55%, 
        var(--bg-gantt-color-primary) 55%, 
        var(--gantt-weend) 55%
    );
}


section.diagramm-graph {
    cursor: grab;
    text-align: left;
           
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    /*left: 0;*/
    z-index: 0;
    
    white-space: nowrap;
    overflow: auto;
}
section.diagramm-graph:active { 
    cursor: grabbing;
    user-select: none;
}
section.diagramm-graph .diagramm-calendar,  
section.diagramm-graph .diagramm-calendar > article > header, 
section.diagramm-graph .diagramm-calendar > article > nav, 
section.diagramm-graph .diagramm-background
{
    display: block;
}
section.diagramm-graph .diagramm-calendar > article, 
section.diagramm-graph .diagramm-background > article
{
    text-align: center;
    width: calc(7 * var(--day-size-pixel));
}
section.diagramm-graph .diagramm-calendar > article, 
section.diagramm-graph .diagramm-calendar > article > div > span, 
section.diagramm-graph .diagramm-background > article, 
section.diagramm-graph .diagramm-background > article > div
{
    display: inline-block;
}
section.diagramm-graph .diagramm-calendar > article > div > span, 
section.diagramm-graph .diagramm-background > article > div
{
    width: var(--day-size-pixel);
}
section.diagramm-graph .diagramm-calendar > article > header {
    padding: 5px 0;
}
section.diagramm-graph .diagramm-calendar > article > header > span:nth-child(1), 
section.diagramm-graph .diagramm-calendar > article > header > span:nth-child(2)
{
    text-align: left;
    display: block;
    padding-left: 10px;
}
section.diagramm-graph .diagramm-calendar > article > header > span:nth-child(1) {
    font-weight: bold;
}
section.diagramm-graph .diagramm-calendar > article > div > span, 
section.diagramm-graph .diagramm-calendar > article > header > span:nth-child(2)
{
    font-weight: lighter;
}
section.diagramm-graph .diagramm-calendar > article > header > span:nth-child(2) {
    font-size: 14px;
}
section.diagramm-graph .diagramm-calendar > article > div > span {
    font-size: 12px;
}
section.diagramm-graph .diagramm-calendar > article > div > span:not(.now) > span {
    background: var(--gantt-weend);
}
section.diagramm-graph .diagramm-calendar > article > div > span > span {
    padding: 5px;
}
section.diagramm-graph .diagramm-calendar > article  {
    background: var(--bg);
}
section.diagramm-graph .diagramm-background > article, 
section.diagramm-graph .diagramm-background > article > div, 
section.diagramm-graph .diagramm-calendar > article > div > span
{
    float: left;
}
section.diagramm-graph .diagramm-calendar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    width: max-content;
    cursor: default;
    height: 80px;
    margin-bottom: -80px;
}
section.diagramm-graph .diagramm-background {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: max-content;
    height: 100%;
    overflow: hidden;
}
section.diagramm-graph .diagramm-background > article, 
section.diagramm-graph .diagramm-background > article > div
{
    height: 100%;
}
section.diagramm-graph .diagramm-background > article > div {
    border-right: 1px solid var(--gantt-day-border);
    background: var(--bg);
}
section.diagramm-graph .diagramm-calendar > article > span { 
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
section.diagramm-graph .diagramm-content
{
    width: max-content;
    margin-top: calc(var(--header-height) * 1px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    bottom: 0;
    height: fit-content;
}
section.diagramm-graph .diagramm-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
}

footer, 
nav.main-nav, 
aside, 
aside > section > header, 
section.diagramm-graph .diagramm-calendar > article > span, 
.tooltip div, 
.popover, 
nav.navbar .dropdown-menu,
.modal-content,
.modal-header,
.modal-footer
{ 
    box-shadow: 0 0 15px var(--shadow);
}

.progress {
    cursor: pointer;
    position: relative;
}
.progress.pbar-task-background, 
.progress.pbar-ticket-background
{
    background: var(--bg-gantt-color-primary);
}
.progress.pbar-ticket-background {
    margin: 15px 0;
    height: 10px;
    box-shadow: inset 0px 2px 5px 2px #00000065;
    border-radius: 50px;
}
.progress.pbar-task-background {
    margin: 5px 0;
    height: var(--gantt-data-height);
    overflow: visible;
}
.progress .progress-bar.pbar-complete {
    background: var(--bg-gantt-color-secondary);
    color: var(--bg);
}
.progress .progress-edit-bar {
    cursor: ew-resize;
    width: 5px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 50;
    border-radius: 50px;    
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.progress > .progress-edit-bar.left {
    left: 0;
}
.progress > .progress-edit-bar.right {
    right: 0;
}
.progress .label-task {
    position: absolute;
    left: 100%;
    top: 6px;
    margin-left: 10px;
    font-weight: bold;
    pointer-events: none;
}

.leader-line {
    z-index: 0;
}

.modal ,
section.diagramm-graph .diagramm-loading
{
    backdrop-filter: var(--blur-effect);
}
.popover {
    max-width: max-content;
}
.context-menu-list {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.modal-content .modal-header {
    border-bottom: 1px solid var(--shadow);
}
.modal-content .modal-footer {
    border-top: 1px solid var(--shadow);
}

.modal.warning .modal-content {
    background: var(--bg-warning);
}
.modal.error .modal-content {
    background: var(--bg-error);
}
.modal.message-modal a {
    color: var(--text);
    text-decoration: underline;
}
.modal.message-modal {
    text-align: center;
}
.modal.message-modal .modal-header {
    height: 40px;
}
.modal.message-modal.warning .button-base {
    background: var(--bg-link-hover) !important;
    padding: 2px 10px !important;
}

.tooltip .tooltip-arrow,
.popover .popover-arrow
{
    display: none;
}
.input-group-text.edit-width {
    min-width: 125px;
    align-items: start !important;
}

.card {
    background: var(--bg-gantt-color-primary) !important;
    border: 0 !important;
    color: var(--input-text);
}
.card .collapse {
    background: var(--gantt-weend);
}
.card .card-header button, 
.context-menu-list .context-menu-item
{
    background: var(--bg) !important;
    color: var(--text) !important;
}
.context-menu-list .context-menu-separator {
    border-bottom: 1px solid var(--bg-link-hover) !important;
}

.modal-content .modal-header {
    border-bottom: none;
}

.pbar-delimitation {
    background: var(--bg-transparent);
    position: relative;
    left: 0;
    right: 0;
}

.loading-page {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--bg);
    box-shadow: inset 0 0 5px var(--shadow);    
    user-select: none;
}

.loading-page img,
section.diagramm-graph .diagramm-loading img
{
    height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-hover);
}